[Devices]
Device1 = 00:11:22:33:44:55
Device2 = 66:77:88:99:AA:BB

[Auth]
username = your_username
password = your_password

[Pushover]
user_key = your_user_key
api_token = your_api_token

[MQTT]
server = your_mqtt_server_url
port = server_port
username = mqtt_username
password = mqtt_password
topic = wakeup_list